{% extends "base.html" %}
{% load staticfiles %}

{% block title %} ICSE 2016 Austin :: Important Dates {% endblock title %}

{% block content %}
<!-- <article class="main"> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
	  
<h3>Important Dates</h3>
<hr size=4 width="%94"/>

<h5>Video contest</h5>

<table style="width: 90%; border: 1px solid; margin-left: auto; margin-right: auto; border-collapse: collapse;">
  <tbody>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Video submission period</td>
      <td style="text-align: right;">
	<strong style="color: #ff0000;">JAN 7 - APR 1, 2015</strong>
      </td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Public vote and jury decision</td>
      <td style="text-align: right;"><strong style="color: #ff0000;">APR - MAY 7, 2015</strong></td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Winner notification</td>
      <td style="text-align: right;"><strong style="color: #ff0000;">MAY 9, 2015</strong></td>
    </tr>
  </tbody>
</table>
<!-- </article> -->

<h5>Submission deadlines*</h5>
<table style="width: 90%; border: 1px solid; margin-left: auto; margin-right: auto; border-collapse: collapse;">
  <tbody>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Technical Research</td>
      <td style="text-align: right;"><strong style="color: #ff0000;">SEP 4, 2015</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Workshop Proposals<br/>Technical Briefings Proposals</td>
      <td style="text-align: right;"><strong style="color: red;">SEP 10, 2015</strong></td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">SE Education and Training (SEET)<br/>Software Engineering In Practice (SEIP)<br/>Software Engineering in Society (SEIS)</td>
      <td style="text-align: right;"><strong style="color: red;">OCT 23, 2015</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Blue Sky Ideas (BSI)<br/>Doctoral Symposium<br />ACM Student Research Competition (SRC)<br />Demonstrations</td>
      <td style="text-align: right;"><strong style="color: red;">NOV 20, 2015</strong></td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Posters</td>
      <td style="text-align: right;"><strong style="color: red;">JAN 13, 2016</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Workshop Papers</td>
      <td style="text-align: right;"><strong style="color: red;">JAN 22, 2016</strong></td>
    </tr>
    <!-- <tr class="odd"> -->
    <!--   <td style="text-align: left;" colspan="2">SCORE-it??</td> -->
    <!--   <td style="text-align: right;"><strong style="color: red;">15 FEB, 2016</strong></td> -->
    <!-- </tr> -->
  </tbody>
</table>
<p style="text-align: center;"><span style="text-align: center; line-height: 1.3em;">* Note that all deadlines are firm and are given in </span><a style="text-align: center; line-height: 1.3em;" href="http://en.wikipedia.org/wiki/Anywhere_on_Earth" target="_blank">AoE </a><span style="line-height: 1.3em;">Time</span></p>



<h5>Notifications</h5>
<table style="width: 90%; border: 1px solid; margin-left: auto; margin-right: auto; border-collapse: collapse">
  <tbody>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Technical Research</td>
      <td style="text-align: right;"><strong style="color: #ff0000;">DEC 20, 2015</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Workshop Proposals</td>
      <td style="text-align: right;"><strong style="color: red;">NOV 20, 2015</strong></td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Technical Briefings Proposals</td>
      <td style="text-align: right;"><strong style="color: red;">DEC 14, 2015</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Software Engineering In Practice (SEIP)</td>
      <td style="text-align: right;"><strong style="color: red;">JAN 11, 2016</strong></td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">SE Education and Training (SEET)<br/>Software Engineering in Society (SEIS)<br/>Blue Sky Ideas (BSI)<br/>Doctoral Symposium<br />ACM Student Research Competition (SRC)<br />Demonstrations</td>
      <td style="text-align: right;"><strong style="color: red;">JAN 22, 2016</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Posters</td>
      <td style="text-align: right;"><strong style="color: red;">FEB 5, 2016</strong></td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Workshop Papers</td>
      <td style="text-align: right;"><strong style="color: red;">FEB 19, 2016</strong></td>
    </tr>
  </tbody>
</table>

<h5>Camera Ready</h5>
<table style="width: 90%; border: 1px solid; margin-left: auto; margin-right: auto; border-collapse: collapse;">
  <tbody>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">All contributions to ICSE proceedings</td>
      <td style="text-align: right;"><strong style="color: #ff0000;">FEB 13, 2016</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Workshop proceedings</td>
      <td style="text-align: right;"><strong style="color: red;">FEB 26, 2016</strong></td>
    </tr>
  </tbody>
</table>


<h5><a href="http://score-contest.org/2016/index.php">Student Contest on Software Engineering (SCORE)</a></h5>
<table style="width: 90%; border: 1px solid; margin-left: auto; margin-right: auto; border-collapse: collapse;">
  <tbody>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Team registration</td>
      <td style="text-align: right;"><strong style="color: #ff0000;">JAN - NOV 30, 2015</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Summary report submission</td>
      <td style="text-align: right;"><strong style="color: red;">JUN 1, 2015 - JAN 15, 2016</strong></td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Notification of semi-finalists</td>
      <td style="text-align: right;"><strong style="color: #ff0000;">MAR 4, 2016</strong></td>
    </tr>

    <tr class="even">
      <td style="text-align: left;" colspan="2">Full deliverable submission</td>
      <td style="text-align: right;"><strong style="color: red;">MAR 23, 2016</strong></td>
    </tr>
    <tr class="odd">
      <td style="text-align: left;" colspan="2">Notification of finalists</td>
      <td style="text-align: right;"><strong style="color: #ff0000;">APR 7, 2016</strong></td>
    </tr>
    <tr class="even">
      <td style="text-align: left;" colspan="2">Final evaluation and presentation of the awards</td>
      <td style="text-align: right;"><strong style="color: red;">MAY 2016 @ ICSE</strong></td>
    </tr>
  </tbody>
</table>


<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock content %}
