{% extends "base.html" %}
{% load staticfiles %}

{% block title %} ICSE 2016 Austin :: Important Dates {% endblock title %}

{% block content %}
<!-- <article class="main"> -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
	  
<h3>Register</h3>
<hr size=4 width="%94"/>


<form name="theform" action="formack" method="post" id="theform">
{% csrf_token %}
<table>
	<tr>
		<td><h4>Name:</h4></td>
		<td><input type="text" name="name" size="40"></td>
	</tr>
	<tr>
		<td><h4>Email:</h4></td>
		<td><input type="text" name="email" size="40"></td>
	</tr>
	<tr>
		<td><h4>Affiliation:</h4></td>
		<td><input type="text" name="affiliation" size="40"></td>
	</tr>
	<tr>
		<td><h4>Video Link:</h4></td>
		<td><input type="text" name="video" size="40"></td>
	</tr>
	<tr>
		<td><h4>Terms & Conditions:&nbsp;</h4></td>
		<td><input type="checkbox" name="termsAccepted" size="40"> By submitting this form, you agree to the terms and conditions.</td>
	</tr>
	<tr>
		<td></td>
		<td><br/><input type="Submit" name="Register"></td>
	</tr>
</table>
</form>
<br/>
<br/>
{% endblock content %}
