<html>
<head>
	<title>Dropdown Menu!</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
</head>
<body>
  <div id="page">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Tutorials</a>
	<ul>
	  <li><a href="">HTML</a></li>
	  <li><a href="">CSS</a>
	    <ul>
	      <li><a href="">HTML</a></li>
	      <li><a href="">CSS</a></li>
	    </ul>
	  </li>
	  <li><a href="">PHP</a></li>
	</ul>
      </li>
      <li><a href="">EVENTS</a></li>
      <li><a href="">Contacts</a>
	<ul>
	  <li><a href="">HTML</a></li>
	  <li><a href="">CSS</a></li>
	</ul>
      </li>

    </ul>
  </div>
</body>
