{% extends "base.html" %}
{% load staticfiles %}

{% block title %} ICSE 2016 Austin :: Important Dates {% endblock title %}

{% block content %}
<!-- <article class="main"> -->
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>


<h3>Keynotes</h3>
<hr size=4 width="%94"/>
          <br/>
          <br/>

<article>

<table >
<tbody>
<tr>
<td style="text-align: center;" width="30%">
<p>
<a href="http://spoke.compose.cs.cmu.edu/shaweb/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/MaryShaw.jpg" alt="" width="230px;" height="auto" class="center_image"/>
</a>
</p>
<p>
<a href="http://spoke.compose.cs.cmu.edu/shaweb/" target="_blank">Mary Shaw</a>
<br/>
<span> Carnegie Mellon University </span>
</p>
</td>
</tr>
<tr>
<td style="text-align: left;" width="70%">
<p> Mary Shaw is the Alan J. Perlis University Professor of Computer Science in the Institute for Software Research at Carnegie Mellon University, where she has been a member of the faculty since completing her PhD in 1972. Her research interests lie in the area of software engineering and software systems, particularly software architecture, end user software engineering, cybersociotechnical systems, and software design. She is co-author with David Garlan of "Software Architecture: Perspectives on an Emerging Discipline" and is considered to be one of the founders of the field of software architecture. She has received the United States’ National Medal of Technology and Innovation, the ACM SIGSOFT Outstanding Research Award (with David Garlan), the IEEE Computer Society TCSE's Distinguished Educator Award, CSEE&T's Nancy Mead Award for Excellence in Software Engineering Education, the Stevens Award, and the Warnier Prize. She is a fellow of the ACM, the IEEE, and the AAAS. 
</p>
</td>
</tr>
</tbody>
</table>
</article>

<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock content %}
