{% extends "base.html" %}
{% load staticfiles %}

{% block title %} ICSE 2016 Austin :: Important Dates {% endblock title %}

{% block content %}
<!-- <article class="main"> -->
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
<div class="rt-container">
<div id="rt-main" class="mb12">
<div class="rt-container">
<div class="rt-grid-12 ">
<div class="rt-block">
<div id="rt-mainbody">
<div class="component-content">
<article class="item-page">
<h2 style="text-align: center;">Organizing Committee</h2>

<table >
<tbody>
<tr>
<td style="text-align: center;">
<h4>General Chair</h4>
</td>
<td style="text-align: center;" width="50%" valign="top">
<p>
<a href="http://cse.msu.edu/~ldillon/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/LauraDillon.jpg" alt="" width="270px;" height="auto"/>
</a>
</p>
<p>
<a href="http://cse.msu.edu/~ldillon/" target="_blank">Laura Dillon</a>
<br/>
<span> Michigan State University </span>
<br/>
<span> United States </span>
</p>
</td>

<td/>
</tr>
<tr>
<td style="text-align: center;">
<h4>Program Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cs.sun.ac.za/~wvisser/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/WillemVisser.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cs.sun.ac.za/~wvisser/" target="_blank">Willem Visser</a>
<br/>
Stellenbosch University
<br/>
South Africa
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://collaboration.csc.ncsu.edu/laurie/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/LaurieWilliams.jpg" alt="" width="270px;" height="auto"/>
</a>
</p>
<p>
<a href="http://collaboration.csc.ncsu.edu/laurie/" target="_blank">Laurie Williams</a>
<br/>
North Carolina State University
<br/>
<span style="line-height: 1.3em;">United States</span>
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Workshop Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.inf.usi.ch/faculty/pezze/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/MauroPezze.jpg" alt="" width="180px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.inf.usi.ch/faculty/pezze/" target="_blank">Mauro Pezze</a>
<br/>
University of Lugano
<br/>
Switzerland
</p>
</td>
<td style="text-align: center;">
<p>
<a href="https://sites.google.com/site/marija/home" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/MarijaMikic-Rakic.jpg" alt="" width="150px;" height="auto"/>
</a>
</p>
<p>
<a href="https://sites.google.com/site/marija/home" target="_blank">Marija Mikić-Rakić</a>
<br/>
Google Los Angeles
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Technical Briefings Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://laser.cs.umass.edu/people/clarke.html" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/LoriClarke.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://laser.cs.umass.edu/people/clarke.html" target="_blank">Lori Clarke</a>
<br/>
The University of Massachusetts, Amherst
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://home.deib.polimi.it/ghezzi/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/CarloGhezzi.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://home.deib.polimi.it/ghezzi/" target="_blank">Carlo Ghezzi</a>
<br/>
Politecnico di Milano
<br/>
Italy
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Software Engineering In Practice Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://web.engr.illinois.edu/~taoxie/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/TaoXie.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://web.engr.illinois.edu/~taoxie/" target="_blank">Tao Xie</a>
<br/>
University of Illinois at Urbana-Champaign
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://research.microsoft.com/en-us/groups/sa/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/DongmeiZhang.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://research.microsoft.com/en-us/groups/sa/" target="_blank">Dongmei Zhang</a>
<br/>
Microsoft Research
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Joint SE Education and Training Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://users.ece.utexas.edu/~perry/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/DewaynePerry.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://users.ece.utexas.edu/~perry/" target="_blank">Dewayne Perry</a>
<br/>
The University of Texas, Austin
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.users.miamioh.edu/burgeje/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/JanetBurge.jpg" alt="" width="200px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.users.miamioh.edu/burgeje/" target="_blank">Janet Burge</a>
<br/>
Miami University
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Blue Sky Ideas Track Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cs.ubc.ca/~murphy/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/GailMurphy.jpg" alt="" width="160" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cs.ubc.ca/~murphy/" target="_blank">Gail Murphy</a>
<br/>
University of British Columbia
<br/>
Canada
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.comp.nus.edu.sg/~david/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/DavidRosenblum.jpg" alt="" width="220px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.comp.nus.edu.sg/~david/" target="_blank">David Rosenblum</a>
<br/>
National University of Singapore
<br/>
Singapore
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>New Faculty Symposium Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://web.engr.oregonstate.edu/~burnett/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/MargaretBurnett.jpg" alt="" width="180px;" height="auto"/>
</a>
</p>
<p>
<a href="http://web.engr.oregonstate.edu/~burnett/" target="_blank">Margaret Burnett</a>
<br/>
Oregon State University
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://swtv.kaist.ac.kr/members/moonzoo_kim/moonzoo-kims-home-page" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/MoonzooKim.jpg" alt="" width="200px;" height="auto"/>
</a>
</p>
<p>
<a href="http://swtv.kaist.ac.kr/members/moonzoo_kim/moonzoo-kims-home-page" target="_blank">Moonzoo Kim</a>
<br/>
KAIST
<br/>
Republic of Korea
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Doctoral Symposium Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://spideruci.org/james-a-jones/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/JimJones.jpg" alt="" width="200px;" height="auto"/>
</a>
</p>
<p>
<a href="http://spideruci.org/james-a-jones/" target="_blank">Jim Jones</a>
<br/>
University of California, Irvine
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.csis.ul.ie/staff/ItaRichardson/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/ItaRichardson.jpg" alt="" width="240px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.csis.ul.ie/staff/ItaRichardson/" target="_blank">Ita Richardson</a>
<br/>
University of Limerick
<br/>
Ireland
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>ICSE N-10 MIP Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cs.virginia.edu/~soffa/index.html%3Fp=6.html" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/MarySoffa.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cs.virginia.edu/~soffa/index.html%3Fp=6.html" target="_blank">Mary Lou Soffa</a>
<br/>
The University of Virginia
<br/>
United States
</p>
</td>
<td/>
</tr>

<tr>
<td style="text-align: center;">
<h4>Demonstrations Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://research.microsoft.com/en-us/people/adityan/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/AdityaNori.jpg" alt="" width="180px;" height="auto"/>
</a>
</p>
<p>
<a href="http://research.microsoft.com/en-us/people/adityan/" target="_blank">Aditya Nori</a>
<br/>
Microsoft Research
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="https://www.cs.drexel.edu/~yfcai/#" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/YuanfangCai.jpg" alt="" width="139" height="auto"/>
</a>
</p>
<p>
<a href="https://www.cs.drexel.edu/~yfcai/#" target="_blank">Yuanfang Cai</a>
<br/>
Drexel University
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Posters Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://ti.arc.nasa.gov/profile/dimitra/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/DimitraGiannakopoulou.jpg" alt="" width="150px;" height="auto"/>
</a>
</p>
<p>
<a href="http://ti.arc.nasa.gov/profile/dimitra/" target="_blank">Dimitra Giannakopoulou</a>
<br/>
NASA Ames Research Center
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.eecis.udel.edu/~clause/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/JamesClause.jpg" alt="" width="180px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.eecis.udel.edu/~clause/" target="_blank">James Clause</a>
<br/>
University of Delaware
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Student Contest on
<br/>
Software Engineering Co-Chairs
</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cs.nmsu.edu/~jcook/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/JonathanCook.jpg" alt="" width="190px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cs.nmsu.edu/~jcook/" target="_blank">Jonathan Cook</a>
<br/>
New Mexico State University
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://bugcounting.net/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/CarloFuria.jpg" alt="" width="190px;" height="auto"/>
</a>
</p>
<p>
<a href="http://bugcounting.net/" target="_blank">Carlo Alberto Furia</a>
<br/>
ETH Zurich
<br/>
Switzerland
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>ACM Student Research Competition Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="https://www.nsu.edu/cset/csetgraduate/cs-grad/faculty/humphries" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/ThornaHumphries.jpg" alt="" width="270px;" height="auto"/>
</a>
</p>
<p>
<a href="https://www.nsu.edu/cset/csetgraduate/cs-grad/faculty/humphries" target="_blank">Thorna Humphries</a>
<br/>
Norfolk State University
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cse.unt.edu/~reneebryce/Renee_Bryce/Home.html" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/ReneeBryce.jpg" alt="" width="150px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cse.unt.edu/~reneebryce/Renee_Bryce/Home.html" target="_blank">Renee Bryce</a>
<br/>
University of North Texas
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Video Contest Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.se.iastate.edu/directory/tien-nguyen/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/TienNguyen.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.se.iastate.edu/directory/tien-nguyen/" target="_blank">Tien Nguyen</a>
<br/>
Iowa State University
<br/>
United States
</p>
</td>
<td/>
</tr>

<tr>
<td style="text-align: center;">
<h4>Finance Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://will.tracz.org/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/WillTracz.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://will.tracz.org/" target="_blank">Will Tracz</a>
<br/>
ACM SIGSOFT Chair
<br/>
United States
</p>
</td>
<td/>
</tr>

<tr>
<td style="text-align: center;">
<h4>Deputy Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www-bcf.usc.edu/~halfond/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/WilliamHalfond.jpg" alt="" width="200px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www-bcf.usc.edu/~halfond/" target="_blank">William G.J. Halfond</a>
<br/>
University of Southern California
<br/>
United States
</p>
</td>
<td/>
</tr>

<tr>
<td style="text-align: center;">
<h4>Student Volunteers Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cs.ucla.edu/~miryung/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/MiryungKim.jpg" alt="" width="180px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cs.ucla.edu/~miryung/" target="_blank">Miryung Kim</a>
<br/>
University of California, Los Angeles
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://ranger.uta.edu/~csallner/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/ChristophCsallner.jpg" alt="" width="200px;" height="auto"/>
</a>
</p>
<p>
<a href="http://ranger.uta.edu/~csallner/" target="_blank">Christoph Csallner</a>
<br/>
University of Texas, Arlington
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Registration Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://pages.swcp.com/~wing/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/MikeWing.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://pages.swcp.com/~wing/" target="_blank">Mike Wing</a>
<br/>
CritterScape
<br/>
United States
</p>
</td>
<td/>
</tr>

<tr>
<td style="text-align: center;">
<h4>Proceedings Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cse.ust.hk/~charlesz/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/CharlesZhang.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cse.ust.hk/~charlesz/" target="_blank">Charles Zhang</a>
<br/>
The Hongkong University of Science and Technology
<br/>
Hongkong, China
</p>
</td>
<td/>
</tr>

<tr>
<td style="text-align: center;">
<h4>Publications Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://faculty.washington.edu/hazeline/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/HazelAsuncion.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://faculty.washington.edu/hazeline/" target="_blank">Hazel Asuncion</a>
<br/>
University of Washington, Bothell 
<br/>
United States
</p>
</td>
<td/>
</tr>


<tr>
<td style="text-align: center;">
<h4>Awards Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cs.umd.edu/~atif/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/AtifMemon.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cs.umd.edu/~atif/" target="_blank">Atif Memon</a>
<br/>
University of Maryland, College Park
<br/>
United States
</p>
</td>
<td/>
</tr>

<tr>
<td style="text-align: center;">
<h4>Publicity Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.icse-conferences.org/2003/conferenceInfo/pc/FrancesPaulisch.html" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/FrancesPaulisch.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.icse-conferences.org/2003/conferenceInfo/pc/FrancesPaulisch.html" target="_blank">Frances Paulisch</a>
<br/>
Siemens AG
<br/>
Germany
</p>
</td>
<td/>
</tr>


<tr>
<td style="text-align: center;">
<h4>Social Networking Chair</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.felienne.com/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/FelienneHermanns.jpg" alt="" width="200px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.felienne.com/" target="_blank">Felienne Hermanns</a>
<br/>
Delft University of Technology
<br/>
The Netherlands
</p>
</td>
<td/>
</tr>

<tr>
<td style="text-align: center;">
<h4>Local Arrangements Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.cs.utsa.edu/~niu/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/JianweiNiu.jpg" alt="" width="180px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.cs.utsa.edu/~niu/" target="_blank">Jianwei Niu</a>
<br/>
University of Texas, San Antonio
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="https://www.linkedin.com/in/camronmalik" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/CamronMalik.jpg" alt="" width="220px;" height="auto"/>
</a>
</p>
<p>
<a href="https://www.linkedin.com/in/camronmalik" target="_blank">Camron Malik</a>
<br/>
Chair, IEEE Computer Society - Austin Chapter
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>Web Co-Chairs</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://cs.txstate.edu/~rp31/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/RodionPodorozhny.jpg" alt="" width="230px;" height="auto"/>
</a>
</p>
<p>
<a href="http://cs.txstate.edu/~rp31/" target="_blank">Rodion Podorozhny</a>
<br/>
Texas State University
<br/>
United States
</p>
</td>
<td style="text-align: center;">
<p>
<a href="http://cs.txstate.edu/~g_y10/" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/GuoweiYang.jpg" alt="" width="220px;" height="auto"/>
</a>
</p>
<p>
<a href="http://cs.txstate.edu/~g_y10/" target="_blank">Guowei Yang</a>
<br/>
Texas State University
<br/>
United States
</p>
</td>
</tr>

<tr>
<td style="text-align: center;">
<h4>ACM Liason</h4>
</td>
<td style="text-align: center;">
<p>
<a href="http://www.acm.org/sigs/panel?pageIndex=5" target="_blank">
<img src="{{ STATIC_URL }}images/icsePeople/FarrahKhan.jpg" alt="" width="170px;" height="auto"/>
</a>
</p>
<p>
<a href="http://www.acm.org/sigs/panel?pageIndex=5" target="_blank">Farrah Khan</a>
<br/>
ACM SIGSOFT
<br/>
United States
</p>
</td>
<td/>
</tr>

</tbody>
</table>
</article>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
