{% extends "base.html" %}
{% load staticfiles %}

{% block title %} ICSE 2016 Austin :: Important Dates {% endblock title %}

{% block content %}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
	  
<h3>Banners</h3>
<hr size=4 width="%94"/>

<table>
<tbody>
<tr>
<td><br/><img src="{{ STATIC_URL }}images/downloads/banners/banner_728x90_v1.jpg" alt="" /></td>
</tr>
<tr>
<td><textarea cols="88" readonly="readonly" rows="2" wrap="virtual">&lt;a href="http://2016.icse.cs.txstate.edu" target="_blank" alt="ICSE 2016, May 14-22, Austin TX, USA"&gt;&lt;img src="http://2016.icse.cs.txstate.edu/static/images/downloads/banners/banner_728x90_v1.jpg" /&gt;&lt;/a&gt;</textarea></td>
</tr>
<tr>
<td><br/><img src="{{ STATIC_URL }}images/downloads/banners/banner_728x90_v2.jpg" alt="" /></td>
</tr>
<tr>
<td><textarea cols="88" readonly="readonly" rows="2" wrap="virtual">&lt;a href="http://2016.icse.cs.txstate.edu" target="_blank" alt="ICSE 2016, May 14-22, Austin TX, USA"&gt;&lt;img src="http://2016.icse.cs.txstate.edu/static/images/downloads/banners/banner_728x90_v2.jpg" /&gt;&lt;/a&gt;</textarea></td>
</tr>
<tr>
<td><br/><img src="{{ STATIC_URL }}images/downloads/banners/banner_200x200_v1.jpg" alt="" /></td>
</tr>
<tr>
<td><textarea cols="88" readonly="readonly" rows="2" wrap="virtual">&lt;a href="http://2016.icse.cs.txstate.edu" target="_blank" alt="ICSE 2016, May 14-22, Austin TX, USA"&gt;&lt;img src="http://2016.icse.cs.txstate.edu/static/images/downloads/banners/banner_200x200_v1.jpg" /&gt;&lt;/a&gt;</textarea></td>
</tr>
<tr>
<td><br/><img src="{{ STATIC_URL }}images/downloads/banners/banner_200x200_v2.jpg" alt="" /></td>
</tr>
<tr>
<td><textarea cols="88" readonly="readonly" rows="2" wrap="virtual">&lt;a href="http://2016.icse.cs.txstate.edu" target="_blank" alt="ICSE 2016, May 14-22, Austin TX, USA"&gt;&lt;img src="http://2016.icse.cs.txstate.edu/static/images/downloads/banners/banner_200x200_v2.jpg" /&gt;&lt;/a&gt;</textarea></td>
</tr>


</tbody>
</table>


<br/>
<br/>

<h3>Ads</h3>
<hr size=4 width="%94"/>

<table width="70%">
<tbody>
  <tr>
    <td>
      [<a href="{{ STATIC_URL }}images/downloads/ads/ICSE_2016ad.pdf">ICSE 2016 Ad PDF Version</a>]
      &nbsp;&nbsp;
      [<a href="{{ STATIC_URL }}images/downloads/ads/ICSE_2016ad.jpg">ICSE 2016 Ad JPG Version</a>]
      <br/><br/>
    </td>
  </tr>
  <tr>
    <td><img src="{{ STATIC_URL }}images/downloads/ads/ICSE_2016ad.jpg" /></td>
  </tr>
</tbody>
</table>


<br/>
<br/>
<br/>
<br/>
<br/>


{% endblock content %}
