{% extends "base.html" %}
{% load staticfiles %}

{% block title %} ICSE 2016 Austin :: Venue {% endblock title %}

{% block content %}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<article>
<h3>Venue Information</h3>
<hr size=4 width="%94"/>

<br/>

<h2>Conference Venue</h2>
<!-- <h3>Conference Venue</h3> -->
<!-- <hr size=4 width="%94"/> -->

<p>ICSE 2016 will be held at the <a href="http://www.marriott.com/hotels/travel/aussh-renaissance-austin-hotel/">Rennaisance Austin Hotel</a> in the lovely Austin Arboretum Area on the northwestern edge of Austin proper.  Known as “new Austin,” the Austin Arboretum Area has both a business and a residential side.  Several of Austin’s major employers—University of Texas, IBM, Dell 3M, EDS, Motorola, and Texas Instruments—are located in the Arboretum Area.  But the area also boasts quaint neighborhoods, hike-and-bike trails, and pet-friendly parks.  The hotel abuts a walking trail. </p>

<p>We have reserved a block of rooms at the <a href="http://www.marriott.com/hotels/travel/aussh-renaissance-austin-hotel/">Rennaisance Austin Hotel</a> at a special conference rate of $189 single/$199 double for the period from May 11, 2016 through May 25, 2016.  Rooms will be held at the special rate until April 15, 2016. </p> 

<p>Self-parking at the hotel is complimentary.</p>


<a name="austin"><h2>Austin</h2></a>

<p>Austin itself is the capital of the state of Texas, the Lone Star State. Known as the Live Music Capital of the World™, it counts over 200 live venues in the downtown area.  Austin prides itself in having something for everyone—an eclectic offering of food, music, entertainment, outdoor recreation, and shopping.   Austinites take their slogan “Keeping Austin Weird” very seriously! </p>


<h4>Things to do in Austin: </h4>

<p>
<a href="http://www.austintexas.org/visit">http://www.austintexas.org/visit</a> <br/>

<a href="http://www.austintexas.gov/resident/about-austin">http://www.austintexas.gov/resident/about-austin</a> <br/>

<a href="http://travel.aol.com/travel-guide/united-states/texas/austin-overview">http://travel.aol.com/travel-guide/united-states/texas/austin-overview</a> <br/>
</p>

<h4>Fast Facts:</h4>

<p>
Altitude: 489 ft. above sea level<br/>
Time Zone: Central Daylight Time (CDT)<br/>
Population: 820,611 (2011 U.S. Census)<br/>
Average Temperatures in May: 87°F (31°C) HIgh / 67°F (19°C) low<br/>
Average Rainfall: 4.36 in (11 cm)<br/>
Telephone Area Code: 512<br/>
</p>

<a name="travel"><h2>Travel </h2></a>

<p>The Austin metropolitan area is served by the Austin-Bergstrom International Airport (AUS) approximately 18 miles from the Renaissance Austin Hotel. (Airport Phone: <a href="tel:+15125302242">+1 (512) 530-2242</a>)
</p>

<p>ICSE 2016 attendees will receive a 10% discount on transfer from the Austin-Bergstrom International Airport to the Renaissance Austin Hotel with <a href="http://www.supershuttle.com/">Super Shuttle</a> or <a href="http://www.execucar.com/">ExecuCar</a> if they book online with the link below (Discount Code: <strong style="color:red;">XBQ3V</strong>). <br/>

<a href="http://groups.supershuttle.com/internationalconferenceonsoftwareengineering.html">http://groups.supershuttle.com/internationalconferenceonsoftwareengineering.html</a> <br/>

Full Super Shuttle fare: 20 USD (one way) <br/>

Estimated taxi fare: 45 USD (one way) <br/>

</p>

<h4>Driving Directions:</h4>

<p>
From Austin-Bergstrom International Airport:<br/>
- Turn left onto E State Hwy 71 Service Rd. <br/>
- Take the ramp on the left onto TX-71 W. <br/>
- Take the ramp onto US-183 N. <br/>
- Take the ramp to US-183 N/Lampasas. <br/>
- Slight left onto US-183 N/Ed Bluestein Blvd. Continue to follow US-183 N. <br/>
- Take the exit toward TX-360 Loop/Capital of Tx Hwy/Great Hills Trail. Merge onto Research Blvd. <br/>
- Turn left onto TX-360 Loop S. <br/>
- Turn right onto Arboretum Blvd. Destination will be on the right.
</p>

<a name="visa"><h2>Visa Support Letters</h2></a>

<p>
ACM is able to provide visa support letters to attendees as well as authors with accepted papers, posters, or members of the conference committee. For visa support letters, refer all requests to <a href="mailto:supportletters@acm.org">supportletters@acm.org</a>.  Those requesting a letter should allow up to one week to receive it.  All requests are handled in the order they are received.  The information below should be included with the request. <br/>
- Name (as it appears on attendee’s passport) and mailing address <br/>
- The name of the conference attendees is registering for <br/>
- Attendee’s registration confirmation number <br/>
- Authors may indicate their paper title.  Speakers can provide the title of their talk. <br/>
- Include a fax number or email address of where letter can be sent <br/>
</p>

</article>


<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock content %}
